@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Ubuntu:wght@700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

body {
    display: flex;
}

body > div {
    height: 100vh;
}

#background {
    width: 34vw;
    min-width: 34vw;
    background-image: url("./finn-ijspeert-EeAPsEYa95U-unsplash.jpg");
    background-repeat: no-repeat;
    
}

#form {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color:whitesmoke;
    
}

.logo {
    height: calc(100vh / 6);
    margin-top: calc(100vh / 5);
    font-family: "Ubuntu", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    
}

#darkbg {
    background-color: black;
    opacity: 0.3;
    position: absolute;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

#whitelogo {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}

#woods {
    color: white;
    font-family: "Ubuntu", sans-serif;
    font-size: min(6vw, 6rem);
    margin-left: 20px;
    opacity: 1;
}

img {
    height: min(8vw, 100vh / 6);

}

.center {
    height: 30vh;
    background-color: white;
    padding-left: 45px;
    box-shadow: 0 0px 20px grey;
    clip-path: inset(0px 0px -25px 0px);
    padding-top: 20px;
    overflow: auto;
}

.text {
    height: 35vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    
}

.button {
    height: 35vh;
    padding-left: 45px;

}

label {
    display: block;
    font-weight:600;
    font-size: 1.1rem;
}

.input {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    height: 20vh;

}

.input div {
    margin-right: 150px;
}

button {
    margin-top: 50px;
    background-color: #1a462f;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 20px;
    padding-left: 20px;
    color: white;
    font-weight: bolder;
    font-size: 1.5rem;
    border-radius: 8px;
    margin-bottom: 25px;
}

input {
    border-radius: 8px;
    font-size: 1.2rem;
    border-style: solid;
    appearance: none;
    -webkit-appearance: none;
    border-color: lightgray;
}

input:invalid {
    border-color: red;
}

input:focus {
    border-color: blue;
    outline: none;
}

.button p {
    font-size: 1.2rem;
    font-weight: 900;
}

a:link {
    color: #1a462f;
}

a:visited {
    color: #1a462f;
}



