@font-face {
    font-family: Ubuntu;
    src: url(./Ubuntu-Bold.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    display: flex;
}

body > div {
    height: 100vh;
}

#background {
    width: 35vw;
    min-width: 35vw;
    max-width: 35vw;
    max-height: ;
    background-image: url("./finn-ijspeert-EeAPsEYa95U-unsplash.jpg");
    background-repeat: no-repeat;
    
}

#form {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 45px;
    
}

.logo {
    border-style: solid;
    border-width: 5px;
    border-color: red;
    height: calc(100vh / 6);
    margin-top: calc(100vh / 5);
    font-family: Ubuntu;
}

.center {
    border-style: solid;
    border-width: 5px;
    border-color: red;
    height: 30vh;

}

.text {
    border-style: solid;
    border-width: 5px;
    border-color: red;
    height: 35vh;
}

.button {
    border-style: solid;
    border-width: 5px;
    border-color: red;
    height: 35vh;
}

label {
    display: block;
}

.input {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    height: 25vh;

}

.input div {
    margin-right: 150px;
}

button {
    margin-top: 50px;
}


