@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Ubuntu:wght@700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

body {
    display: flex;
}

body > div {
    height: 100vh;
}

#background {
    width: 34vw;
    min-width: 34vw;
    background-image: url("./finn-ijspeert-EeAPsEYa95U-unsplash.jpg");
    background-repeat: no-repeat;
    
}

#form {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color:whitesmoke;
    
}

.logo {
    height: calc(100vh / 6);
    margin-top: calc(100vh / 5);
    font-family: "Ubuntu", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    
}

#darkbg {
    background-color: black;
    opacity: 0.3;
    position: absolute;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

#whitelogo {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}

#woods {
    color: white;
    font-family: "Ubuntu", sans-serif;
    font-size: min(6vw, 6rem);
    margin-left: 20px;
    opacity: 1;
}

img {
    height: min(8vw, 100vh / 6);

}

.center {
    height: 30vh;
    background-color: white;
    padding-left: 45px;
    box-shadow: 0 0px 20px grey;
    clip-path: inset(0px 0px -25px 0px);
    padding-top: 20px;
    overflow: auto;
}

.text {
    height: 35vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    
}

.button {
    height: 35vh;
    padding-left: 45px;

}

label {
    display: block;
}

.input {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    height: 20vh;

}

.input div {
    margin-right: 150px;
}

button {
    margin-top: 50px;
}




